/*---------productos-------*/
.title {
  font-size: 2rem;
  padding: 2rem 0 0 8.5rem;
  color: var(--main-primary);
}
.productos {
  padding: 5rem 8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.producto .btn:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 600px) {
  .title {
    padding: 2rem 0 0 1rem;
  }
  .productos {
    padding: 5rem 1rem;
  }
}
