/*-------inicio-----*/
.inicio {
  /* margin: 0 8rem; */
  /* padding-top: 9rem; */
}
.content__inicio {
  display: flex;
}
.inicio h1 {
  font-size: 1.5rem;
  color: var(--main-primary);
  transition: 0.3s;
}
.inicio h1:hover {
  color: var(--main-primary-hover);
}
.inicio img {
  display: flex;
  margin: 0px auto;
  border-radius: 6px;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1100px) {
  .inicio img {
    width: 100%;
  }
  .inicio img {
    height: 30vh;
    object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .inicio {
    margin: 0 1rem;
  }
}
